@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

#excusa{
    background-color: powderblue;
    font-family: "Grechen Fuemen", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
  }
  